.app{
  &__nav-list{
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;

    // X-Small devices (portrait phones, less than 576px)
    max-width: 100%;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      max-width: 540px;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      max-width: 720px;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      max-width: 960px;
    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      max-width: 1140px;
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
      max-width: 1320px;
    }
  }

  &__nav-link{
    display: block;
    line-height: 2.5rem;
    padding-right: 12px;
  }
}